* { box-sizing: border-box;
 margin: 0; padding: 0; font-family: "Goudy Bookletter 1911",
 sans-serif; } .div1 { padding: 3%; font-size: 25px; color: rgb(255, 255, 255); background-color: 
rgb(78, 129, 240); } h1,form{ text-align: center; } input[type=text]
 { width: 18%; padding: 10px 15px; } 
.button { background-color: #aedeeb; border: none; color: rgb(0, 0, 0); padding: 12px 14px;
 text-align: center; 
text-decoration: none; 
display: inline-block; font-size: 15px; } .listtable
 { margin: auto; width: 75%; padding: 10px; } 
table { font-family: arial, sans-serif; border-collapse: collapse; 
width: 100%; } td, th { padding: 7px; text-align: center; } tr:nth-child(even) { background-color: #dff0f5; }
